<div class="wide100p padding5 dataBankAttachments" dir="rtl" style="text-align: right;">
    <h2 class="marginBot5">
        <span>
            إعدادات هيكل جداول البيانات
        </span>
    </h2>
    <div>
        هذه جميع هياكل جداول البيانات الافتراضية. يمكنك حالياً تعديل تعليمات كل جدول، بما في ذلك الوصف، تعليمات التهيئة، التحديث، الحذف، والإضافة. تعديل هذه التعليمات يتيح لك تخصيص كيفية فهم الذكاء الاصطناعي لهذا الجدول.
    </div>
    <hr/>
    <div id="tableStructureContainer"></div>
</div>
